---
import type { Link } from "@/lib/types";
import { CONSTANTS } from "@/lib/config";

type Props = {
  item: Link;
};
const currentPath = Astro.url.pathname;
const { item } = Astro.props;


function isActive(item: Link, currentPath: string) {
  const segment = currentPath.split("/")[2];
  return (
    // Điều kiện cho Homepage
    (item.text === CONSTANTS.Homepage && currentPath === "/") ||

    // Điều kiện cho Articles
    (item.text === CONSTANTS.Articles &&
      segment !== undefined &&
      !Number.isNaN(Number(segment)) &&
      Number(segment) >= 1) ||

    // Điều kiện cho các link khác, nhưng loại trừ Homepage
    (item.text !== CONSTANTS.Homepage &&
     item.text !== CONSTANTS.Articles &&
     currentPath.startsWith(item.href))
  );
}

function formatHref(href: string) {
  return href === "/" ? "/" : `${href}/1`;
}
---

<li
  class:list={[
    "relative after:absolute after:-bottom-2 after:left-0 after:h-[1.5px] after:w-full after:transition-all after:duration-300",
    isActive(item, currentPath)
      ? "after:bg-base-content pointer-events-none"
      : "after:bg-transparent",
  ]}
>
  <a href={formatHref(item.href)} class="text-base-content hover:text-primary" aria-label={item.text}>{item.text}</a>
</li>
