---
/**
 * Skip to Main Content Link
 * Accessibility feature for keyboard users to skip navigation
 * Should be placed at the very top of the page, before Header
 */
---

<a
  href="#main-content"
  class="sr-only focus:not-sr-only fixed top-0 left-0 z-50 px-4 py-2 bg-[color:var(--primary)] text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
>
  Skip to main content
</a>

<style>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .focus\:not-sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    padding: inherit;
    margin: inherit;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
</style>
