---
/**
 * Skip to Main Content Link
 * Accessibility feature for keyboard users to skip navigation
 * Should be placed at the very top of the page, before Header
 */
---

<a
  href="#main-content"
  class="sr-only focus:not-sr-only fixed top-0 left-0 z-50 m-2 btn btn-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
>
  Bỏ qua đến nội dung chính
</a>

