---
import MainHeadlineCard from "@/components/cards/mainHeadlineCard.astro";
import SubHeadlineCard from "@/components/cards/subHeadlineCard.astro";
import SectionTitle from "@/components/shared/SectionTitle.astro";
import { articlesHandler } from "@/lib/handlers/articles";
import { CONSTANTS } from "@/lib/config";

const allArticles = articlesHandler.allArticles();
const mainHeadline = allArticles[0];
const subHeadlines = allArticles.slice(0, 2);
---

<section data-pagefind-ignore="all">
  <!-- Section Title -->
  <SectionTitle title={CONSTANTS.Featured_Stories} />
  
  <!-- Main Headline - Full Width -->
  <div class="mb-8">
    <MainHeadlineCard article={mainHeadline} />
  </div>
  
  <!-- Sub Headlines - 2 Columns -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 auto-rows-fr">
    {subHeadlines.map((article) => (
      <SubHeadlineCard article={article} />
    ))}
  </div>
</section>
