---
import SectionTitle from "@/components/shared/SectionTitle.astro";
import { articlesHandler } from "@/lib/handlers/articles";
import { render } from "astro:content";
import { CONSTANTS } from "@/lib/config";

const trendingArticles = articlesHandler.allArticles().slice(0, 8);
---

<aside class="lg:sticky lg:top-6">
  <SectionTitle title={CONSTANTS.Latest_Stories_Published} />
  <ul class="space-y-6">
    {
      trendingArticles.map(async (article, index) => {
        const { remarkPluginFrontmatter } = await render(article);
        return (
          <li class="group">
            <a
              href={`/articles/${article.id}`}
              class="flex items-start gap-4 transition-opacity hover:opacity-70"
            >
              <div class="flex items-start gap-2">
              <span class="text-lg text-primary font-bold">
                {index + 1}.
              </span>
              <h3 class="text-base font-bold leading-tight line-clamp-3 text-base-content">
                {article.data.title}
              </h3>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</aside>
