---
import type { CollectionEntry } from "astro:content";

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
---

{article.data.link && (
  <div class="card bg-base-200 shadow-md mt-12">
    <div class="card-body items-center text-center gap-4">
      <p class="text-base-content/80">
        <span class="italic">Nhấn nút dưới đây để tải xuống:</span>
      </p>
      <a
        href={article.data.link}
        rel="noopener noreferrer"
        target="_blank"
        class="btn btn-primary btn-wide gap-2"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
        Download
      </a>
    </div>
  </div>
)}
