---
import { categoriesHandler } from "@/lib/handlers/categories";
import NewsCard from "@/components/cards/newsCard.astro";
import ArrowRight02 from "@/assets/svgs/arrow-right-02.astro";

const articles = categoriesHandler.allCategoriesWithLatestArticles();
---

<section class="container pt-12 pb-0 space-y-4 background-blue-500" data-pagefind-ignore="all">
  {
    articles
      .filter((item, index) => index === 0 || index === 7)
      .map((category) => {
        const { path, title, latestArticles } = category.data;
        return (
          <div class="flex flex-col items-start gap-4">
            <div
              class="flex items-center justify-between"
              data-pagefind-ignore="all"
            >
              <h2 class="text-xl font-bold">{title}</h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 gap-y-6 md:grid-rows-1">
              {latestArticles.slice(0, 6).map((article, index) => (
                <div class="snap-start flex-none lg:flex-initial">
                  <NewsCard article={article} index={index} />
                </div>
              ))}
            </div>
          </div>
        );
      })
  }
</section>
