@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* :root {
    --primary-color: #000000;
} */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 4.2rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.6rem;
    font-weight: 500;
}

